.header{
    background-color: var(--header-bg-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.logo{
    color: var(--button-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.header-link   {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


.nav-links{ 
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
  
.nav-links a:hover,
.nav-links a:focus {
    color: var(--button-color);
}

.nav-links .current:hover,
.nav-links .current:focus {
    color: var(--header-text-color)
}

.current {
    color: var(--button-color)
}

.pcolor{
    color: var(--main-text-color);
}

.buttons {
    font-family: Roboto, sans-serif;
    color: var(--header-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px; 
    letter-spacing: 0.03em;  
    border: transparent; 
    border-radius: 4px;
}

.buttons:hover,
.buttons:focus {
    background-color: var(--button-color);
    color: var(--header-bg-color);
}

.portfolio {
    font-family: Roboto, sans-serif;
}

.card-header {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    font-weight: 700;
}

.card-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.footer {
    background-color: #2F303A;
    width: 1600px;
    height: 252px;
}

.f-logo {
    color: var(--header-bg-color);

}

.fcolor {
    color: var(--header-bg-color);
}

.footer-links {
    color: rgba(255, 255, 255, .6);
 
}

.advantage-p  {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.03em;
}